<div id="dashboard-container" class="container" style="background: #a3cbdb; min-height:100vh">
  <div class="row" style="margin-left:0; margin-right:0; margin-bottom:15px;">
    <h2 class="page-title" style=""> <%= current_user.name %></h2>
    <small style="padding-left: 15px;"><%= current_user.created_at.strftime("Member Since: %m/%d/%Y") %></small>
  </div>
  <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="dashboard-stat dashboard-stat-v2" style="background: #455A64; color: white; border: 1px solid white;">
            <div class="visual" style="opacity: .1;">
                <i class="fa fa-users"></i>
            </div>
            <div class="details" style="">
                <div class="number">
                    <span data-counter="counterup" data-value="12,5"><%= current_user.charitable_donations.sum(:donation_amount) %></span> </div>
                <div class="desc"> Charity Donations </div>
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat dashboard-stat-v2" style="background: #0A5B8D; color: white; border: 1px solid white;">
              <div class="visual" style="opacity: .1;">
                  <i class="fa fa-gift"></i>
              </div>
              <div class="details" style="">
                  <div class="number">
                      <span data-counter="counterup" data-value="12,5"><%= current_user.resources.count %></span> </div>
                  <div class="desc"> In-Kind Donations </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat dashboard-stat-v2 green" style="background:#3cc05f; border: 1px solid white;">
              <div class="visual">
                  <i class="fa fa-support"></i>
              </div>
              <div class="details">
                  <div class="number">
                      <span data-counter="counterup" data-value="549"><%= current_user.campaign_donations.sum(:donation_amount) %></span>
                  </div>
                  <div class="desc"> Campaign Donations </div>
              </div>
          </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="dashboard-stat dashboard-stat-v2 purple" style="border: 1px solid white;">
              <div class="visual">
                  <i class="fa fa-calendar"></i>
              </div>
              <div class="details">
                  <div class="number">
                      <span data-counter="counterup" data-value="89"><%= current_user.attendees.count %></span></div>
                  <div class="desc"> Events Attending</div>
              </div>
          </div>
      </div>
  </div>
  <%= render "users/dashboard/partials/alliance/your_campaigns" %>
  <%= render "users/dashboard/partials/member/local_campaigns" %>
  <%= render "users/dashboard/partials/member/matched_alliances" %>
  <%= render "users/dashboard/partials/member/helpful_links" %>
  <%= render "users/dashboard/partials/member/account_info" %>
</div>
