<div class="col-sm-12 chop">
  <!-- BEGIN BORDERED TABLE PORTLET-->
  <div class="portlet light portlet-fit ">
      <div class="portlet-title">
          <div class="caption">
              <span class="caption-subject sbold uppercase">In-Kind Donations</span>
          </div>
      </div>
      <div class="portlet-body">
          <div class="table-scrollable table-scrollable-borderless" style="overflow: visible;">
              <table class="table table-hover table-light">
                  <thead>
                      <tr class="uppercase" >
                          <th> Date </th>
                          <th> Campaign </th>
                          <th> Item </th>
                          <th class="text-center"> Actions </th>
                      </tr>
                  </thead>
                  <tbody>
                    <%- unless @inkind_donations.present? %>
                      <tr class="text-center">
                        <td colspan="4" >
                          <%= @is_owner ? 'Your' : @prefix %> Members have Donated to 0 Fundraisers
                        </td>
                      </tr>
                    <% end %>
                    <%  @inkind_donations.each do |donation| %>
                      <tr>
                        <td><%= distance_of_time_in_words(Time.now, donation.created_at) %></td>
                          <td><%= donation.campaign.name %></td>
                          <td><%= donation.title %></td>
                          <td class="text-center">
                            <div class="actions" class="text-center">
                              <div class="btn-group">
                                <%= link_to 'View', donation.campaign, class:"btn dark btn-outline btn-circle btn-sm" %>
                              </div>
                          </div>
                         </td>
                      </tr>
                    <% end %>
                  </tbody>
              </table>
          </div>
      </div>
  </div>
  <!-- END BORDERED TABLE PORTLET-->
</div>
