<div class="col-xs-12 col-sm-6 col-sm-left chop">
  <div class="portlet light portlet-fit">
      <div class="portlet-title">
          <div class="caption">
              <span class="caption-subject sbold uppercase">Helpful Links</span>
          </div>
      </div>
      <div class="portlet-body row">
        <div class="col-xs-12 text-center">
          <div class="row">
            <%= link_to new_campaign_path, :class => "icon-btn" do %>
                <i class="fa fa-bullhorn"></i>
                <div> Submit Campaign </div>
            <% end %>
          </div>

          <div class="row">
            <%= link_to new_event_path, :class => "icon-btn" do %>
                <i class="fa fa-calendar"></i>
                <div> Submit Event </div>
                <!-- <span class="badge badge-success"> 4 </span> -->
            <% end %>
      </div>
      <hr />
        <div class="row">
        <%= link_to campaigns_path, :class => "icon-btn" do %>
            <i class="fa fa-search"></i>
            <div> Find Fundraisers </div>
        <% end %>
      </div>
        <div class="row">
        <%= link_to alliances_path, :class => "icon-btn" do %>
            <i class="fa fa-university "></i>
            <div> Find Alliances </div>
        <% end %>
      </div>
        <div class="row">
        <%= link_to churches_path, :class => "icon-btn" do %>
            <i class="fa fa-users"></i>
            <div> Find Churches </div>
        <% end %>
        </div>

        <hr>
        <div class="row">
          <%= mail_to 'support@sc-c3.org', subject: 'Prayer Request', class: 'icon-btn' do %>
              <i class="fa fa-send"></i>
              <div>Submit Prayer Request</div>
          <% end %>
        </div>
        <!-- <hr />
        <div class="row">
          <a href="javascript:;" class="icon-btn">
              <i class="fa fa-external-link "></i>
              <div> Resources & Links </div>
          </a>
        </div> -->
        </div>
      </div>
      </div>
    </div>
