<div class="container">
  <div class="animated slideInUpTiny animation-duration-3 projects_list">
    <div class="page-heading d-sm-flex justify-content-sm-between align-items-sm-center">
      <h2 class="title mb-3 mb-sm-0">My Projects</h2>
    </div>
    <%- if @coordinator_campaigns.present? %>
      <div class="row">
        <% @coordinator_campaigns.each do |campaign| %>
       		<%# campaign.each do |campaign| %>
          <div class="col-xl-3 col-md-5 col-12">
            <div class="shadow border-0 card fixed-height">
            <div class="row no-gutters card-head">
             <!--  <div class="col-xl-5 col-md-5 col-5 card-top-1">
                <h5>Charity's Name: </h5>
              </div> -->
              <div>  
                <h3 class="card-title mb-2"><%= campaign.name %></h3>
              </div>
            </div>
              <%= image_tag load_image(campaign.images.first.try(:image)), alt: "Card image cap", class: "card-img-top" %>
              <div class="card-body">
                <p class="card-text text-muted">
                <%= truncate(campaign.description, :length => 120, :omission => "" , :escape => false) { link_to "...",  campaign_path(campaign) } %>
                </p>
                <hr>
              </div>
              <div class="card-mt-footer">
                <p class="mb-0 pt-0 pb-0 pr-4 pl-4">
                <ul class="card-lists">
                  <li>           
                    <span><strong>Deadline</strong></span>
                  </li>
                  <li>  
                    <span><strong>Goal</strong></span>
                  </li>
                  <% if false %>
                    <li>  
                      <span>
                        <strong>Vote</strong>
                      </span>
                      </span>
                    </li>
                  <% end %>
                </ul>
                <ul class="card-lists">
                  <li><%= campaign.days_left %> days left</li>
                  <li><%= BigDecimal(campaign.goal_amount.to_f.to_s).truncate(8).to_s('F') %> GOOD</li>
                  <% if false %>
                    <li><% if current_user.present? %>
                          <a href="javascript:void(0)" data-campaign-id="<%=campaign.id%>" class="set_vote">
                            <i class="fa fa-thumbs-o-up"></i>
                          </a>
                        <% else %>
                          <a class="login-alert" href="javascript:void(0)">
                            <i class="fa fa-thumbs-o-up"></i>
                          </a>
                        <% end %>
                        <span id="vote_<%=campaign.id%>"><%= campaign.votes.count %> Votes
                    </li>
                  <% end %>
                </ul>
                </p>  
              </div>
              <div class="gx-card-footer pb-3">
                <div class="p-4">
                  <div>
                     <%= link_to 'View', campaign_path(campaign), class: "btn btn-outline-success full_btn" %>
                  </div>

                  <% if user_signed_in? &&  current_user.roles.first.name.eql?("member") %>
                    <div>
                      <%= link_to 'Volunteer', campaign_path(campaign), class: "btn btn-outline-info full_btn" %>
                    </div>
                    <%#- if campaign.users_campaigns.first %>
                      <!-- <div>
                        <button class="p-3 btn btn-outline-warning full_btn" disabled>
                          Requested
                        </button>
                      </div> -->
                      <%# else %>
                        <!-- <div>
                          <button onclick="submitInterest('<%= campaign.id %>', '<%= campaign.name %>')" id="<%= campaign.id %>" class="p-3 btn btn-outline-info full_btn">
                            Volunteer
                          </button>
                        </div> -->
                    <%#end%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <%#end%>
        <% end %>
      </div>
    <% else %>
      <div class="row justify-content-center">
        <div class="col-6">
          <div class="card" style="height: 200px;">
            <div class="card-body text-center">
              <p class="not-found" style="margin-top: 50px;">No Projects Found</p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
<!--     <nav aria-label="navigation">
      <ul class="pagination">        
        <li class="digg_pagination"><%#= will_paginate @coordinator_campaigns %></li>        
      </ul>
    </nav> -->
  </div>
</div>
